/*Inicio*/

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color:#333;
}

header {
  background:#FEB1BD;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
}

header h1 {
  font-family:'Lemon Milk', sans-serif;
  color:#BD484A;
}

nav a {
  margin-left:20px;
  text-decoration:none;
  color:#BD484A;
  font-weight:600;
}

.hero {
  display:grid;
  grid-template-columns:1fr 1fr;
  align-items:center;
  padding:60px 40px;
  gap:40px;
  background-color:#fff0f3;
}

.hero-text h2 {
  font-size:2.5rem;
  margin-bottom:15px;
}

.hero-text p {
  margin-bottom:20px;
}

.btn {
  display:inline-block;
  padding:12px 20px;
  border-radius:5px;
  margin-right:10px;
  text-decoration:none;
  font-family:'Montserrat', sans-serif;
  font-weight:500;
}

.primary {
  background:#75A565;
  color:white;
}

.secondary {
  background:transparent;
  border:2px solid #BD484A;
  color:#BD484A;
   text-decoration:none;
  display:inline-block;
}

.hero img {
  width:100%;
  border-radius:10px;
}

.about {
  display:grid;
  grid-template-columns:300px 1fr;
  gap:30px;
  padding:60px 40px;
  align-items:center;
}

.about img {
  width:100%;
  border-radius:10px;
}

h3 {
  font-family:'Lemon Milk', sans-serif;
  color:#BD484A;
  margin-bottom:15px;
}

.section-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 30px;
  padding: 60px 40px;
  align-items: start;
}


.gallery-container .btn {
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  gap: 15px;
}

.gallery img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}


.map {
  background:#eee;
  border-radius:10px;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.map .btn {
  width:100%;
  padding:15px;
  font-size:1rem;
}

footer {
  background:#BD484A;
  color:white;
  text-align:center;
  padding:20px;
}


@media screen and (max-width:768px){

  header{
    flex-direction:column;
    text-align:center;
    gap:15px;
    padding:20px;
  }

  nav{
    display:flex;
    flex-direction:column;
    gap:10px;
  }

  nav a{
    margin-left:0;
  }

  .hero{
    grid-template-columns:1fr;
    text-align:center;
    padding:40px 20px;
  }

  .hero-text h2{
    font-size:2rem;
  }

  .about{
    grid-template-columns:1fr;
    text-align:center;
    padding:40px 20px;
  }

  .section-grid{
    grid-template-columns:1fr;
    padding:40px 20px;
  }

  .cards{
    grid-template-columns:1fr;
  }

  iframe{
    width:100%;
  }

  .btn{
    width:100%;
    margin-bottom:10px;
  }

}


@media screen and (max-width:480px){

  h1{
    font-size:2rem;
  }

  .hero-text h2{
    font-size:1.7rem;
  }

  p{
    font-size:0.95rem;
  }

  .gallery{
    flex-direction:column;
    align-items:center;
  }

  .gallery img{
    width:100%;
    max-width:280px;
    height:auto;
  }

  .map iframe{
    width:100%;
    height:220px;
  }

}



/*Sobre Nosotros*/


.sobre-nosotros{
    background-color: #fff0f3;
    padding: 80px 8%;
}

.contenedor-sobre{
    max-width: 1400px;
    margin: auto;
}

.titulo-sobre h2{
    font-size: 48px;
    color: #6B4F4F;
    margin-bottom: 10px;
    font-weight: 600;
}

.linea{
    width: 280px;
    height: 4px;
    background-color: #BD484A;
    margin-bottom: 10px;
}


.contenido-sobre{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.imagen-sobre{
    flex: 1;
}

.imagen-sobre img{
    width: 90%;
    border-radius: 14px;
    object-fit: cover;
}

.imagen-sobre2 img{
    width: 50%;
    border-radius: 14px;
    object-fit: cover;
}

.texto-sobre{
    flex: 1;
}

.texto-sobre h3{
    font-size: 34px;
    color: #6B4F4F;
    margin-bottom: 25px;
}

.texto-sobre p{
    font-size: 18px;
    color: #6B4F4F;
    line-height: 1.9;
    margin-bottom: 20px;
}



.info-sobre{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.bloque-info{
    flex: 1;
    min-width: 280px;
    background-color: #FEB1BD;
    padding: 35px;
    border-radius: 14px;
}

.bloque-info h3{
    color: #5b4636;
    font-size: 26px;
    margin-bottom: 20px;
}

.bloque-info p{
    color: #6b5b4d;
    line-height: 1.8;
    font-size: 17px;
}



@media (max-width: 768px){

    .contenido-sobre{
        flex-direction: column;
    }

    .titulo-sobre h2{
        font-size: 38px;
    }

    .texto-sobre h3{
        font-size: 28px;
    }

    .texto-sobre p,
    .bloque-info p{
        font-size: 16px;
    }
}

@media (max-width: 480px){

    .sobre-nosotros{
        padding: 60px 6%;
    }

    .titulo-sobre h2{
        font-size: 32px;
    }

    .linea{
        width: 180px;
    }

    .linea.corta{
        width: 120px;
    }

    .bloque-info{
        padding: 25px;
    }
}


/*Contacto*/

.contacto{
    padding: 80px 10%;
    background: #fff0f3;
}

.titulo-contacto h2{
    font-size: 48px;
    color: #6B4F4F;
    margin-bottom: 10px;
}

.subrayado{
    width: 180px;
    height: 4px;
    background: #FEB1BD;
    border-radius: 10px;
    margin-bottom: 50px;
}

.contacto-contenedor{
    display: flex;
    align-items: center;
    gap: 50px;
}

.mapa{
    flex: 1.3;
}

.mapa iframe{
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 15px;
}

.info-contacto{
    flex: 1;
}

.info-contacto h3{
    color: #6B4F4F;
    font-size: 30px;
    margin-bottom: 20px;
}

.info-contacto p{
    color: #555;
    line-height: 1.8;
    margin-bottom: 15px;
}

.btn-mapa{
    display: inline-block;
    margin-top: 20px;
    padding: 14px 35px;
    background: #FEB1BD;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-mapa:hover{
    background: #f89bab;
}

.redes{
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.redes a{
    width: 45px;
    height: 45px;
    background: #FEB1BD;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}

.redes a:hover{
    transform: translateY(-3px);
}


@media (max-width: 768px){

    .contacto-contenedor{
        flex-direction: column;
    }

    .titulo-contacto h2{
        font-size: 36px;
    }

    .info-contacto{
        text-align: center;
    }

    .redes{
        justify-content: center;
    }

    .mapa iframe{
        height: 250px;
    }
}

@media (max-width:480px){

 
    .contacto{
        padding:50px 6%;
    }

    .titulo-contacto h2{
        font-size:28px;
    }

    .info-contacto h3{
        font-size:24px;
    }

}


/*Menu*/

.menu{
    background-color: #fff0f3;
    padding: 80px 8%;
}



.titulo-menu h1{
    font-family: "Lemon Milk", sans-serif;
    color: #6B4F4F;
    font-size: 4rem;
    margin-bottom: 10px;
}

.linea{
    width: 180px;
    height: 5px;
    background-color: #FEB1BD;
    border-radius: 20px;
    margin-bottom: 50px;
}



.categorias{
    display: flex;
    gap: 20px;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.categorias a{
    text-decoration: none;
    background-color: #BD484A;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 12px 28px;
    border-radius: 30px;
    transition: 0.3s;
}

.categorias a:hover{
    background-color: #FEB1BD;
    color: #6B4F4F;
}

.titulo-categoria{
    text-align:center;
    margin-bottom:40px;
}

.titulo-categoria h2{
    color:#8b3a3a;
    font-size:3rem;
    margin-bottom:5px;
}

.titulo-categoria p{
    font-style:italic;
    color:#7c8a6d;
    font-size:1.2rem;
}

.subcategoria{
    text-align:center;
    color:#8b3a3a;
    margin:40px 0 20px;
}

.menu-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    margin-bottom:30px;
}

.producto{
    background:white;
    border:2px solid #a9b59a;
    border-radius:20px;
    padding:20px;
}

.producto h4{
    color:#8b3a3a;
    margin-bottom:10px;
}

.producto p{
    color:#555;
    font-size:14px;
    line-height:1.5;
    margin-bottom:15px;
}

.producto span{
    font-weight:bold;
    color:#8b3a3a;
}



@media (max-width: 768px){

    .titulo-menu h1{
        font-size: 3rem;
    }

    .categorias{
        justify-content:center;
    }

    .menu-grid{
        grid-template-columns:1fr;
    }

    .producto{
        padding:15px;
    }

    .grid-galeria{
        grid-template-columns:1fr;
    }


}
@media (max-width:480px){

    .titulo-menu h1{
        font-size:2.2rem;
    }

    .titulo-categoria h2{
        font-size:2rem;
    }

    .subcategoria{
        font-size:1.2rem;
    }

    .producto{
        padding:12px;
    }

    .categorias{
        flex-direction:column;
        align-items:center;
    }

    .categorias a{
        width:80%;
        text-align:center;
    }

}




/*Galeria*/

.galeria {
  padding: 60px 40px;
  text-align: center;
}

.galeria h2 {
  color: #BD484A;
  margin-bottom: 20px;
}

.galeria p {
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}


.grid-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
}

.grid-galeria img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.grid-galeria img:hover {
  transform: scale(1.03);
}



@media (max-width:768px){

    .grid-galeria{
        grid-template-columns:repeat(2,1fr);
    }

}

@media (max-width:480px){

    .grid-galeria{
        grid-template-columns:1fr;
    }

    .titulo-menu h1{
        font-size:2.2rem;
    }

    .titulo-categoria h2{
        font-size:2rem;
    }

    .producto{
        padding:12px;
    }

    .categorias a{
        width:100%;
        text-align:center;
    }

}


/*responsive*/

.recomendacion{
    background:#fff0f3;
    padding:60px 20px;
    margin-top:80px;
    margin-bottom:80px;
}

.recomendacion-contenido{
    max-width:600px;
    margin:0 auto;
    text-align:center;
}

.recomendacion h2{
    color:#BD484A;
    margin-bottom:20px;
}

.recomendacion input{
    width:250px;
    padding:12px;
    border:2px solid #FEB1BD;
    border-radius:10px;
}

.recomendacion .btn{
    width:auto;
}

.recomendacion p{
    margin-top:20px;
    font-weight:600;
    color:#6B4F4F;
}




.horario{
    text-align:center;
    margin-top:60px;
}

.horario h3{
    color:#6B4F4F;
    margin-bottom:20px;
}

#estado{
    margin-top:15px;
    font-weight:600;
    color:#6B4F4F;
}